.jumbotron {
    background-color: rgb(168, 166, 166);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#title {
    font-size: 65px;
}

#search-box {
    background-color: rgb(168, 166, 166);
    padding-bottom: 10px;
}

.cityName {
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.five-day-container h2 {
    margin-top: 25px;
}

.card-row {
    display: flex;
    flex-direction: row;
}

.five-day-card {
    margin-left: 50px;
    width: 120px;
    height: 200px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    background-color: #24a4ee;
}

.five-day-container .card-text {
    margin-bottom: 4px;
    padding: 5px 10px 5px 8px;
    font-size: 16px;
}

.five-day-card h4 {
    margin: 5px;
}

ul {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px #cecfd2;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}
