.jumbotron {
    background-color: rgb(168, 166, 166);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#title {
    font-size: 65px;
}

#search-box {
    background-color: rgb(168, 166, 166);
    padding-bottom: 10px;
}

.cityName {
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}